{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('task_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
    <form action="{{ path('search') }}" method="get">
        <div class="input-group">
            <input type="text" class="form-control" name="searchTask" placeholder="Search for title or content" value="{{ searchTask }}">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>
{% endblock %}